body {
    background-color: lightblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
    padding-right: 300px;
    padding-bottom: 50px;
    padding-left: 300px;
}
